node_modules/
.env
.DS_Store
logs/
*.log
estado_proyecto.txt
node_modules/
*_database.json
feedback_log.txt
.env
*.db
*.sqlite
*.sqlite3
mus_database_backup*.json
ranking_contexto.json
*.deb
hacer_backup.js
dump_project.sh
suggested_words.json
url.sh
urls.sh
register.sh
*.sh
pending*
pending_requests.json
*.txt
*chat*
chat.zip
import_whatsapp.js
*whatsapp*
